<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPIt</title>
    <link rel="stylesheet" 
    href= "{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>
    <form method ='POST' onsubmit="mostrarLoading()">
        <input type="text" name="pokemon" placeholder="Digite aqui" required>
        <button type="submit">Enviar</button>
    </form>
    <p id="loading" style="display: none;">
        Pesquisando...
    </p>

    {% if pokemon_info %}
    <p> Nome do seu pokemon: {{pokemon_info.name}}<br>
        ID do seu pokemon: {{pokemon_info.id}}<br>
        Altura do seu pokemon: {{pokemon_info.height}}<br>
        Peso do seu pokemon: {{pokemon_info.weight}}
    </p>

    {% endif %}
</body>
<script>
    function mostrarLoading(){
        document.getElementById('loading').style.display='block';
    }
</script>
</html>