<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI</title>
    <link rel="stylesheet" 
    href= "{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>
    <form method ='POST' onsubmit="mostrarLoading()">
        <input type="text" name="pokemon" placeholder="Digite aqui" required>
        <button type="submit">Enviar</button>
    </form>
    <p id="loading" style="display: none;">
        Pesquisando...
    </p>

    {% if pokemon_info %}
    <img src="{{ pokemon_info.sprites.front_default }}">
    
    <p> Nome do seu pokemon: {{pokemon_info.name | capitalize}}<br>
        ID do seu pokemon: {{pokemon_info.id}}<br>
        Altura do seu pokemon: {{pokemon_info.height}}<br>
        Peso do seu pokemon: {{pokemon_info.weight}}
    </p>
    <h3>Habilidades:</h3>
    {% for habilidades in pokemon_info.abilities %}

        <p>
            {{ habilidade.ability.name | capitalize}}
        </p>
    {% endfor %}

    <h3>Tipos:</h3>

    {% for tipo in pokemon_info.types %}

    <p>
        {{ tipo.type.name | capitalize }}
    </p>

    {% endfor %}

    {% endif %}
    <br>
    <a href="/historico">
        Ver históricos de pesquisa
    </a>

</body>
<script>
    function mostrarLoading(){
        document.getElementById('loading').style.display='block';
    }
</script>
</html>